{% extends "catalog/base.html" %}
{% block title %} Блог {{ object.title }} {% endblock %}
{% block content %}

<div class="row">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-outline-primary">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Создать
                                {% endif %}</button>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}