{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row text-center">
        <div class="col-3">
            {% for product in objects_list %}
            <div class="card mb-4 box-shadow">

                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.category|title}} {{product.product_name|title}}</h4>
                </div>
                <div class="card-body">
                     <img src="media/{{product.avatar}}" alt="" style="max-width: 50%;">
                    <h1 class="card-title pricing-card-title">{{product.price|floatformat:2}} руб.</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{product.product_description|truncatechars:100}}</li>

                    </ul>
                            <a class="p-1  btn btn-outline-primary form-control" href="/info1/">Купить</a>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
